<!-- <h1 style="text-align: center;">Account</h1> -->
<!--TODO: Broify-->
<div class="row">
  <div class="col-md-4">
    <h2>The Deets</h2>
    <div id="display_profile" style="display:block">
    <div><strong>Username:</strong> <%= current_bro.name %></div>
    <div><strong>Email:</strong> <%= current_bro.email %></div>
    <!-- <%= button_to "Edit Profile", "#edit_profile", action:nil, style:"display:block", onclick: "toggle_visibility('edit_profile');" %> -->
    <%= link_to "Nah brah, that's not right", "#edit_profile", class:"btn btn-warning btn-xs", role:"button" %>
    </div>
    <div id="edit_profile" style="display:none">
      <%= form_for current_bro, url: show_path do |f| %>
      <div class="field">
        <%= f.label :name, "Username" %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div id="submit">
        <%= f.submit "High five, brah!", :class => "edit-profile btn btn-warning btn-xs" %>
      </div>
      <% end %>
    </div>
  </div> <!-- close col-md-3 -->
  <div class="col-md-4">
    <h2>Get the hook up</h2>

    <% @providers.each do |provider| %>
        <% if @added_providers.include? provider %>
          <div class = "has-auth">
            <%= image_tag("#{provider}-64-black.png") %>
          </div>
        <% else %>
          <div class = "add-auth">
            <%= link_to image_tag("#{provider}.png"), "/auth/#{provider}" %>
          </div>
        <% end %>
    <% end %>
  </div>

</div> <!-- close row div -->
<hr>
<div class="row">
  <div class="col-md-12">

    <h2> Your Bromances </h2>
      <!-- method and url here are overwritten by the ajax call and don't matter
      except that they do need to hae-->
      <% @subscriptions.each do |subs| %>
      <div class="sub-content">
    <% if subs.avatar_url != "" %>
          <%= image_tag(subs.avatar_url, :class => "avatar") %>
        <% else %>
          <%= image_tag("no-prof-pic.jpg", :class => "avatar") %>
        <% end %>
        <!-- This is doing something weird -->
        <p><%= subs.username %></p>
        <%= form_for subs, url: remove_subscription_path, method: :post do |f|%>
          <%= f.hidden_field :uid, value: subs.uid %>
          <%= f.hidden_field :provider, value: subs.provider %>
        <p><%= f.submit subs.unsubscribe_msg, :class => "btn-danger" %></p>
        <% end %>
      </div>

      <% end %>

  </div> <!-- close col-md-10 -->

</div> <!-- close row class -->
