<!-- <h1 style="text-align: center;">Account</h1> -->
<!--TODO: Broify-->
<div class="row">
  <div class="col-md-4">
    <h2>The Deets</h2>
    <div id="hide_profile" style="display:block">
    <div><strong>Username:</strong> <%= current_bro.name %></div>
    <div><strong>Email:</strong> <%= current_bro.email %></div>
    <!-- <%= button_to "Edit Profile", "#edit_profile", action:nil, style:"display:block", onclick: "toggle_visibility('edit_profile');" %> -->
    <%= link_to "Nah brah, that's not right", "#edit_profile", class:"btn btn-warning btn-xs", role:"button", onclick:"toggle_visibility('edit_profile');"%>
    </div>
    <div id="edit_profile" style="display:none">
      <%= form_for current_bro, url: show_path do |f| %>
      <div class="field">
        <%= f.label :name, "Username" %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div id="submit">
        <%= f.submit "High five, brah!", :class => "btn btn-warning btn-xs" %>
      </div>
      <% end %>
    </div>
  </div> <!-- close col-md-3 -->
  <div class="col-md-4">
    <h2>Get the hook up</h2>

    Twitter, Instagram, Github, Vimeo
  </div>

</div> <!-- close row div -->
<hr>
<div class="row">
  <div class="col-md-10">

    <h2> Your Bromances </h2>

      <% @subscriptions.each do |subs| %>
      <div class="sub-content">
        <%= image_tag(subs.avatar_url) %>
        <%= subs.username %>
        <%= form_for subs, method: :delete, class: "unsubscribe" do |f|%>
          <%= f.hidden_field :uid, value: subs.uid %>
          <%= f.hidden_field :provider, value: subs.provider %>
        <%= f.submit "Unsubscribe" %>
        <% end %>
      </div>

      <% end %>

  </div> <!-- close col-md-10 -->

</div> <!-- close row class -->
