<!-- <div class="container"> -->
<h1 class="feedora">My Feedora</h1>

<% if @feed.nil? %>
  <h4>Hey, bro you're all alone... </h4>
  Hook up with other bros using search!
  <!--Feel free to edit and improve-->
<% else %>
<ul class="feed">
  <% @feed.each do |item| %>
    <li>
      <div class="row feed-item">

          <div class="col-md-2">
            <div class="icon"><%= image_tag(item.subscription.provider + ".png") %></div>
          </div>

          <div class="col-md-3">
            <!--TODO: Add alt text for accessibility-->
            <p><%= image_tag(item.subscription.avatar_url, :class => "avatar") %></p>
            <p>By <%= item.subscription.username %></p>
            <p>Posted <%= time_ago_in_words(item.post_time) %> ago</p>
          </div>

          <div class="col-md-7">
            <% if item.subscription.provider == "twitter" %>
              <p><%= item.content %></p>
            <% elsif item.subscription.provider == "vimeo" %>
              <iframe src="http://player.vimeo.com/video/<%= item.content %>" width="500" height="281"    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <p class="caption"><%= item.caption %></p>
            <% elsif item.subscription.provider == "instagram" %>
              <%= image_tag(item.content) %>
              <p class="caption"><%= item.caption %></p>
          </div> <!-- end of col-md-6 class div -->

            <% end %> <!-- end of if twitter/vimeo/instagram conditional -->
        </div> <!-- end of row class div -->
    </li>
      <% end %> <!-- end of feed loop -->

</ul>

<% end %>
<!-- </div> -->
