<h1 class="feedora"> Feedora </h1>
<ul class="feed">
  <% @feed.each do |item| %>
    <li>
      <div class="row">

          <div class="col-md-2">
          </div>

          <div class="col-md-1">
            <%= image_tag(item[:provider_image_url]) %>
          </div>

          <div class="col-md-2">
            <!--TODO: Add alt text for accessibility-->
            <p><%= image_tag(item[:avatar]) %></p>
            <p>By <%= item[:username] %></p>
            <p>Posted <%= time_ago_in_words(item[:created_at]) %> ago</p>
          </div>

          <div class="col-md-6">
            <% if item[:provider] == "twitter" %>
              <p><%= item[:content] %></p>
            <% elsif item[:provider] == "vimeo" %>
            <iframe src="http://player.vimeo.com/video/<%= item[:content] %>" width="500" height="281"    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div> <!-- end of col-md-6 class div -->

            <% end %> <!-- end of if twitter/vimeo conditional -->

        </div> <!-- end of row class div -->
    </li>
      <% end %> <!-- end of feed loop -->

</ul>
