<%= link_to "Sign out", sign_out_path %>
<%= link_to current_bro.name, show_path(current_bro.id) %>
<%= link_to "Search!", user_search_path %>

<h1> Feedora </h1>

<ul>
  <% @feed.each do |item| %>
    <li>
      <%= image_tag(item[:provider_image_url]) %>
      <!--TODO: Add alt text for accessibility-->
      <%= image_tag(item[:avatar]) %>
      <%= time_ago_in_words(item[:created_at]) %> ago
      <%= item[:username] %>
      <% if item[:provider] == "twitter" %>
        <%= item[:content] %></li>
      <% elsif item[:provider] == "vimeo" %>
      <iframe src="http://player.vimeo.com/video/<%= item[:content] %>" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <% end %>
  <% end %>
</ul>
