<h1>Instagram Results</h1>

  <% if @results %>
  <% @results.each do |result| %>
    <p>
      <%= image_tag(result.profile_picture) %><%= result.full_name %>
        <%= form_for @subscription do |f| %>
        <%= f.hidden_field :provider, value: "instagram" %>
        <%= f.hidden_field :uid, value: result.id.to_s %>
        <%= f.hidden_field :username, value: result.username %>
        <%= f.hidden_field :avatar_url, value: result.profile_picture %>
        <%= f.hidden_field :display_name, value: result.full_name %>

      <%= f.submit "Unsubscribe", :class => "unsearch_result #{ 'hide' if current_bro.subscriptions.where(provider: "instagram", uid: result.id.to_s).empty?}" %>

      <%= f.submit "Begin a bromance", :class => "search_result #{ 'hide' if !current_bro.subscriptions.where(provider: "instagram", uid: result.id.to_s).empty?}" %>

      <% end %>
    </p>
  <% end %>
<% end %>
