<!--Landing page-->
<!DOCTYPE html>
<html>
<head>
  <title>Bronnect</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="landing-background vertical-center">
<div class="container-fluid landing">
  <div class="row">
      <div class="col-xs-12">
      <%= image_tag("muscle.png", :class => "landing-img") %>
      </div>
  </div>
  <div class="row">
      <span class="landing-brand"><h1>Bronnect</h1></span>
  </div>

  <div class="row">
    <div class="col-xs-8 tagline">
      bro, do you even feed?
    </div>
    <div class="col-xs-4 sign-in">
      <%= link_to "make it legit...", "/auth/developer", :class => "btn btn-danger" %>
    </div>
  </div>

</div> <!-- /container -->
</div>
</body>
</html>
