<h1>Twitter Results</h1>
<div class="row">
  <div class="col-md-11">
      <% if @results %>
        <% @results.each do |result| %>
        <div class="results">
          <div class="results-content">
            <p><%= link_to image_tag(result.profile_image_url.to_str, :class => "avatar"), "http://www.twitter.com/#{result.username}" %></p>
            <p><%= result.name %></p>
            <%= form_for @subscription do |f| %>
            <%= f.hidden_field :provider, value: "twitter" %>
            <%= f.hidden_field :uid, value: result.id %>
            <%= f.hidden_field :username, value: result.username %>
            <%= f.hidden_field :avatar_url, value: result.profile_image_url.to_s %>
            <%= f.hidden_field :display_name, value: result.name %>

              <% if !current_bro.subscriptions.where(provider: "twitter", uid: result.id.to_s).empty? %>
                <%= f.submit "Nah, it's not right!", :class => "search_result btn btn-warning" %>
              <% else %>
                <%= f.submit "Begin a bromance", :class => "search_result" %>
              <% end %>
            <% end %>
          </p>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
