<h1>Twitter Results</h1>

<% if @results %>
  <% @results.each do |result| %>
    <p><%= image_tag(result.profile_image_url.to_str) %><%= result.name %>
      <%= form_for @subscription do |f| %>
      <%= f.hidden_field :provider, value: "twitter" %>
      <%= f.hidden_field :uid, value: result.id.to_s %>
      <% if !current_bro.subscriptions.where(provider: "twitter", uid: result.id.to_s).empty? %>
      <%= f.submit "Nah, its not right!", :class => "search_result btn btn-warning" %>
      <% else %>
      <%= f.submit "Begin a bromance", :class => "search_result" %>
      <% end %>
      <% end %>
    </p>
  <% end %>
<% end %>
