<h1>Twitter Results</h1>

<% if @results %>
  <% @results.each do |result| %>
    <p><%= image_tag(result.profile_image_url.to_str) %><%= result.name %>
      <%= form_for @subscription do |f| %>
      <%= f.hidden_field :provider, value: "twitter" %>
      <%= f.hidden_field :uid, value: result.id.to_s %>
      <%= f.submit "Yo subscribe" %>
      <% end %>
    </p>
  <% end %>
<% end %>
