<h1>Vimeo Results</h1>
<div class="row">
  <div class="col-md-11">
  <% if @results %>

    <% @results.each do |user| %>
    <div class="results">
      <div class="results-content">
      <% if user.profile_pics %>
        <p><%= link_to image_tag(user.profile_pics["sizes"][1]["link"], :class => "avatar"), user.url, :target => "_blank" %></p>
      <% else %>
        <!-- Beemo gem doesn't return any prof pic if it's a gravatar or Vimeo default image -->
        <!-- Kept pic logic as an if/else to keep number of calls to Vimeo gem API to a minimum -->
        <% vimeo_api_user = Vimeo::Simple::User.info(user.uid.to_i) %>
        <%= link_to image_tag(vimeo_api_user["portrait_medium"], :class => "avatar"), user.url, :target => "_blank" %>
       <!-- <#%= link_to image_tag('no-prof-pic.jpg', :class => "avatar"), user.url, :target => "_blank" %> -->
       <% end %>
      <p><%= user.name %></p>

      <%= form_for @subscription do |f| %>
        <%= f.hidden_field :provider, value: "vimeo" %>
        <%= f.hidden_field :uid, value: user.uid.to_s %>
        <%= f.hidden_field :username, value: user.url.gsub("https://vimeo.com/", "") %>
        <%= f.hidden_field :avatar_url, value: user.profile_pics ? user.profile_pics["sizes"][1]["link"] : nil  %>
        <%= f.hidden_field :display_name, value: user.name %>

        <%= f.submit @subscription.unsubscribe_msg, :class => "unsearch_result btn-danger #{ 'hide' if current_bro.subscriptions.where(provider: "vimeo", uid: user.uid.to_s).empty?}" %>

        <%= f.submit @subscription.subscribe_msg, :class => "search_result btn-success #{ 'hide' if !current_bro.subscriptions.where(provider: "vimeo", uid: user.uid.to_s).empty?}" %>

      <% end %> <!-- end form_for loop -->
      </div>
    </div>
    <% end %> <!-- end each loop -->

  <% else %>
    <p>No results</p>
  <% end %>
  </div>
</div>
