<h2>Vimeo User Search</h2>


<%= form_tag vimeo_user_search_path do %>
  <%= select_tag "provider", options_for_select([ "Twitter", "Vimeo" ]) %>
  <%= text_field_tag :search, params[:search], :placeholder => "search for a Vimeo user" %>
  <%= submit_tag "Search" %>
<% end %>


<% if @results %>
  <% if @results.include? ("display_name")  %>
    <p><%= image_tag(@results["portrait_medium"]) %></p>
    <p>Display Name: <%= @results["display_name"] %></p>
    <p>Username: <%= @results["profile_url"].gsub("https://vimeo.com/", "") %></p>
  <% else %>
    <p>No results</p>
  <% end %>
<% end %>
