<h2>Vimeo User Search</h2>

<%= form_tag vimeo_user_search_path do %>
  <%= text_field_tag :search, params[:search], :placeholder => "search vimeo users" %>
  <%= submit_tag "Search" %>
<% end %>

<% if @results %>
  <% @results.each do |result| %>
    <p><%= image_tag(result["user_portrait_medium"]) %><%= result["user_name"] %></p>
  <% end %>
<% end %>
