<!DOCTYPE html>
<html>
<head>
  <title>Bronnect</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'> -->
  <%= stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Graduate', :media => "all" %>
</head>
<body>
  <header class="nav-bar navbar-fixed-top">
    <span class="brand-header">
      <%= link_to image_tag("muscle.png", :class => "brand-img"), root_path, :class => "logo" %>
      <h1 class="brand-title">Bronnect</h1>
    </span>

    <span class="user-header">
      <%= link_to current_bro.name, show_path(current_bro.id) %> |
      <%= link_to "My Feedora", root_path %> |
      <%= link_to "Sign out", sign_out_path %>
    </span>

    <span class="search-header">
      <%= form_tag user_search_path do %>
        <%= select_tag "provider", options_for_select([ "Twitter", "Vimeo" ]) %>
        <%= text_field_tag :search, params[:search], :placeholder => "Find bomb ass peeps" %>
        <%= submit_tag "Yo Search" %>
      <% end %>
    </span>
  </header>
  <div id="flash-msg">
    <% flash.each do |name, msg| %> <!-- flash message provided by rails-->
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </div>
  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
