<!DOCTYPE html>
<html>
<head>
  <title>Bronnect</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %> <!-- flash message provided by rails-->
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>
